<!DOCTYPE html>

<!--
    Geodes
    SoftDev 2025
-->

<html>

  <head>
    <title> CREATE ACCOUNT </title>
  </head>

  <body>
    <h1>
      woohah yoohooooooiii
    </h1>


    <h3>
      Enter a username and password below to proceed.
    </h3>
    <form action="/creating", method = "POST">
      <input type="text" name="username" placeholder = "username">
      <input type="text" name="password" placeholder = "password">
      <input type="submit">
      <!-- <form action="/login">
        <input type="text" name="username">
        <input type="text" name="password"> -->
    </form>
    <br>
    <br>
    <a href = "/">Return to home</a>
  </body>

</html>
