<!DOCTYPE html>

<!--
    Geodes
    SoftDev 2025
-->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      yippee wahoo hooray
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <!-- <form action="/setuser", method = "POST">
      <input type="text" name="username">
      <input type="text" name="password"> -->
      <form action="/login">
        <input type="text" name="username">
        <input type="text" name="password">
    </form>
    <br>
  </body>

</html>
