<!DOCTYPE html>

<!--
    Geodes
    SoftDev 2025
-->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      yippee wahoo hooray
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/setuser", method = "POST">
      <input type="text" name="username" placeholder = "username">
      <input type="text" name="password" placeholder = "password">
      <input type="submit">
      <!-- <form action="/login">
        <input type="text" name="username">
        <input type="text" name="password"> -->
    </form>
    <br>
    <a href = "createaccount">Don't have an account? Sign up!</a>
    <br>
    <a href = "/">Return to home</a>
    <br>
  </body>

</html>
